BasedOnStyle: Google

ColumnLimit: 120
IndentWidth: 4
Standard: Cpp11
AccessModifierOffset: -4
IndentCaseLabels: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignTrailingComments: true
AlignOperands: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
BreakConstructorInitializersBeforeComma: true
Cpp11BracedListStyle: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
PPIndentWidth: 2
IndentPPDirectives: None
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
ReflowComments: false
SortIncludes: false

UseTab: Never
